{% set domains = ["canvas-processor-testnet.dport.me"] %}
{% extends "base.j2" %}
{% block mainbody %}
  location / {
    include proxy_params;
    proxy_pass http://127.0.0.1:6677;
  }
{% endblock %}
