stream_subscriber_config:
  indexer_grpc_data_service_address: {{ txn_stream_service_address }}
  auth_token: "{{ auth_token }}"
dispatcher_config:
common_storage_config:
  initial_starting_version: {{ initial_starting_version }}
canvas_processor_config:
  canvas_contract_address: "{{ canvas_contract_address }}"
canvas_storage_config:
  canvas_storage_directory: /var/canvases/{{ network }}
api_config:
  api_port: {{ api_port }}
postgres_storage_config:
  connection_string: "postgres://graffio:pword@localhost:5432/graffio_{{ network }}"

