[Unit]
Description=Processor for {{ network }}
Wants=network.target
After=network-online.target

[Service]
Restart=always
TimeoutStopSec=10

# We assume that the binary has already been built at this path.
# We assume that a database called graffio_{{ network }} already exists in the DB.
ExecStart=/home/{{ unix_user }}/aptos-canvas/processor/target/release/service --config-path /var/canvases/{{ network }}/config.yaml

[Install]
WantedBy=multi-user.target default.target
